---
name: Docker build

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+-*'
    branches: [main]
    paths:
      - '**.go'
      - '**/**.go'
      - 'go.mod'
      - 'go.sum'
      - '.github/workflows/dockerbuild.yml'
      - 'Dockerfile'
  pull_request:
    branches: [main]
    paths:
      - '**.go'
      - '**/**.go'
      - 'go.mod'
      - 'go.sum'
      - '.github/workflows/dockerbuild.yml'
      - 'Dockerfile'
  workflow_dispatch:
    inputs:
      ref:
        description: 'Branch, commit, or tag to checkout'
        required: true

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:

  docker-build-and-push:
    runs-on: ubuntu-latest
    #runs-on: [self-hosted]
    permissions:
      contents: read
      packages: write
    steps:
      -
        name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
        with:
          ref: ${{ github.event.inputs.ref || github.ref }}
      -
        name: Set up Docker Context for Buildx
        run: docker context create builders
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
        with:
          endpoint: builders
      -
        name: Log in to container register
        id: login-ghcr
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=schedule
            type=ref,event=branch
            type=sha,event=branch
            type=ref,event=tag
            type=ref,event=pr
            type=sha,event=pr
      -
        name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
