name: Go Test

on:
  push:
    branches: ["main"]
    paths:
      - '**.go'
      - '**/**.go'
      - 'go.mod'
      - 'go.sum'
      - '.github/workflows/go*.yml'
  pull_request:
    branches: ["main"]
    paths:
      - '**.go'
      - '**/**.go'
      - 'go.mod'
      - 'go.sum'
      - '.github/workflows/go*.yml'

jobs:
  cross-test:
    name: go cross test
    runs-on: ${{ matrix.os }}
    env:
      CGO_ENABLED: 0

    strategy:
      matrix:
        go-version: ["1.21", "1.22", "1.23", "1.24", "1.25", "1.x"]
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      # https://github.com/marketplace/actions/checkout
      - name: Checkout code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      # https://github.com/marketplace/actions/setup-go-environment
      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: Test
        run: go test -v -cover ./...
