name: Go Test

on:
  push:
    branches: ["main"]
    paths:
      - '**.go'
      - '**/**.go'
      - 'go.mod'
      - 'go.sum'
      - '.github/workflows/go*.yml'
  pull_request:
    branches: ["main"]
    paths:
      - '**.go'
      - '**/**.go'
      - 'go.mod'
      - 'go.sum'
      - '.github/workflows/go*.yml'

jobs:
  cross-test:
    name: go cross test
    runs-on: ${{ matrix.os }}
    env:
      CGO_ENABLED: 0

    strategy:
      matrix:
        go-version: ["1.23", "1.24", "1.25", "1.x"]
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      # https://github.com/marketplace/actions/checkout
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      # https://github.com/marketplace/actions/setup-go-environment
      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: ${{ matrix.go-version }}
      - name: Test
        run: go test -v -cover ./...
