---
name: Go fmt and lint

on:
  push:
    branches: ["main"]
    paths:
      - '**.go'
      - '**/**.go'
      - 'go.mod'
      - 'go.sum'
      - '.github/workflows/go*.yml'
  pull_request:
    branches: ["main"]
    paths:
      - '**.go'
      - '**/**.go'
      - 'go.mod'
      - 'go.sum'
      - '.github/workflows/go*.yml'

jobs:
  fmt:
    name: go gmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version-file: go.mod
      - name: Format
        run: go fmt ./...
  lint:
    name: golangci-lint
    # Only lint on PRs; it's not as useful on pushes to main
    if: github.event_name == 'pull_request'
    # Disable Go 1.11 modules when running per:
    # https://github.com/golangci/golangci-lint/issues/395#issuecomment-922153131
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Set up Go for golangci-lint
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version-file: go.mod
          cache: false
        env:
          GO111MODULE: "off"
      - name: golangci-lint
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9
        with:
          version: v2.6.1
          only-new-issues: true
        env:
          GO111MODULE: "off"
